<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update page</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
	<header id="hostTag" th:replace="navbar::header1"></header>
	
	<div class="container mt-2 p-5">
		<h2 class="text-center"> Book Edit Page</h2>
		<form class="col-md-4 offset-md-4" th:action="@{/save}" th:object="${blist}">
			<input type="hidden" name="id" th:value="${blist.id}" >
			<div class="form-group">
				<label for="name">Name</label> 
				<input type="text" class="form-control" placeholder="Enter name" name="name" th:value="${blist.name}"> 
			</div>
			<div class="form-group">
				<label for="author">Author</label>
				<input type="text" class="form-control" placeholder="Enter author name" name="author" th:value="${blist.author}">
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<input type="text" class="form-control" placeholder="Enter book price" name="price" th:value="${blist.price}">
			</div>
				<button type="submit" class="btn btn-outline-primary">Edit</button>
		</form>
	</div>

</body>
</html>